.st0{fill:#FFFFFF;}
.st1{fill:none;stroke:#F2F2F2;stroke-miterlimit:10;}
.st2{opacity:0.44;}
.st3{fill:none;stroke:#4E53A0;stroke-width:2;stroke-miterlimit:10;}
.st4{fill:none;stroke:#636363;stroke-width:2;stroke-miterlimit:10;}
.st5{fill:#FFFFFF;stroke:#4E53A0;stroke-width:2;stroke-miterlimit:10;}
.st6{fill:none;stroke:#AAD5E8;stroke-width:2;stroke-miterlimit:10;}
.st7{fill:none;stroke:#BBBEBF;stroke-width:2;stroke-miterlimit:10;}
.st8{fill:#576166;}
.st9{fill:#D8D8D8;}
.st10{fill:#FFFFFF;stroke:#00129A;stroke-width:2;stroke-miterlimit:10;}
.st11{fill:#00129A;}
.st12{fill:#B8E6FF;}
.st13{fill:none;}
.st14{fill:#BBBEBF;}
.st15{fill:none;stroke:#B8E6FF;stroke-width:2;stroke-miterlimit:10;}
.st16{fill:none;stroke:#00129A;stroke-width:2;stroke-miterlimit:10;}